.complete {
    text-decoration: line-through;
    opacity: 0.4;
}

.todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    border: 3px solid;
    border-image: linear-gradient(
        90deg,
        rgb(40, 45, 38) 40%,
        rgb(72, 66, 63) 60%
    ) 1;

    padding: 10px;
    width: 90%;
}

.icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.delete-icon {
    margin-right: 5px;
    color: rgb(214, 52, 52);
}

.edit-icon {
    color: rgb(79, 110, 234);
}

.todo-tran-exit {
    opacity: 1;
}
 
.todo-tran-exit-active {
    transform: translateX(-1000px);
    transition: all 300ms ease-in;
}